.about {
  grid-column: center-start/ center-end;

  padding: 15rem 0;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media screen and (max-width: 775px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 575px) {
    grid-column: full-start/ full-end;
    margin: 0 2rem;
    padding: 5rem 0;
  }

  &__title {
    display: flex;
    margin-bottom: 4rem;
    font-size: 3.2rem;

    @media screen and (max-width: 480px) {
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }


    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 30rem;
      background-color: var(--darkGrey);
      position: relative;
      top: 2.5rem;
      margin-left: 20px;

      @media screen and (max-width: 720px) {
        width: 35vw;
      }

      @media screen and (max-width: 480px) {
        top: 2rem;
      }
    }
  }

  &__wrapper {
    grid-column: 3 / -1;

    @media screen and (max-width: 1250px) {
      padding-right: 5%;
    }

    @media screen and (max-width: 1100px) {
      grid-column: 2 / -1;
    }

    @media screen and (max-width: 775px) {
      padding: 0;
    }
  }
}