.contact {
  grid-column: center-start/ center-end;

  padding: 15rem 0;
  align-self: center;
  justify-self: center;
  text-align: center;

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__title {
    font-size: 4rem;

    @media screen and (max-width: 575px) {
      font-size: 3rem;
    }
  }

  &__btn {
    width: 18rem;
    height: 6rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    background-color: var(--darkGrey);
    border-radius: .4rem;
    border: .25rem solid var(--primaryColor);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      background-color: var(--mediumGrey);
    }

    a {
      text-decoration: none;
      color: var(--mainWhite);
    }
  }
}