.work {
  grid-column: center-start/ center-end;
  padding: 15rem 4%;

  @media screen and (max-width: 769px) {
    padding: 15rem 0;
  }

  @media screen and (max-width: 575px) {
    grid-column: full-start/ full-end;
    margin: 0 1.5rem;
    padding-top: 10rem;
    padding-bottom: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    grid-row-gap: 10rem;

    @media screen and (max-width: 767px) {
      grid-row-gap: 5rem;
      grid-template-rows: 1fr;
    }
  }

  &__title {
    display: flex;
    font-size: 3.2rem;

    @media screen and (max-width: 765px) {
      font-size: 2.8rem;
    }

    @media screen and (max-width: 480px) {
      font-size: 2.4rem;
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: var(--darkGrey);
      position: relative;
      top: 2.5rem;
      margin-left: 20px;

      @media screen and (max-width: 720px) {
        width: 22vw;
        margin-left: 15px;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      @media screen and (max-width: 375px) {
        top: 2rem;
      }
    }
  }
}

.project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 3rem 0;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 5rem;
  }

  &__img-wrapper {
    grid-column: 1 / span 7;
    height: 100%;

    @media screen and (max-width: 767px) {
      grid-row: 1 / span 1;
      grid-column: 1;
    }
  }

  &__img {
    grid-column: 1 / span 7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.9;
    box-shadow: var(--mainGrey) 0px 25px 30px -15px;
    border: 0.1rem solid var(--mainGrey);
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;

    @media screen and (max-width: 1050px) {
      height: 32rem;
    }

    @media screen and (max-width: 767px) {
      height: 100%;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__info {
    position: absolute;
    grid-column: 7 / -1;
    z-index: 2;
    display: grid;
    grid-template-rows: 6rem 6rem min-content 6rem 6rem;

    @media screen and (max-width: 767px) {
      grid-column: 1;
      grid-row: 2;

      align-items: center;
      grid-template-rows: 3rem 5rem min-content 4rem 4rem;
    }

    @media screen and (max-width: 576px) {
      grid-template-rows: 3rem 5rem 1fr 5rem 5rem;
    }

    h5 {
      justify-self: self-end;
      align-self: center;
      color: var(--secondaryColor);
      font-family: "Space Mono", monospace;
      font-size: 1.3rem;
      margin: 0;

      @media screen and (max-width: 767px) {
        padding-top: 2%;
        font-size: 1.2rem;
      }
    }

    h4 {
      justify-self: self-end;
      margin: 0;
      font-size: 2.8rem;

      @media screen and (max-width: 879px) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: 576px) {
        font-size: 2rem;
      }
    }

    ul {
      position: relative;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-self: self-end;
      align-self: center;
      z-index: 2;

      @media screen and (max-width: 576px) {
        justify-self: self-start;
        margin: 0 -0.6rem;
      }

      li {
        flex: auto;
        font-size: 1.4rem;
        color: var(--lightGrey);
        margin: 0 0.6rem;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: repeat(5, min-content);
  }

  &__about {
    width: 100%;
    height: auto;
    border: 0.2rem solid var(--mainGrey);
    background-color: var(--mainWhite);
    box-shadow: var(--mainGrey) 0px 10px 30px -15px;
    padding: 4%;
    border-radius: 3px;
    font-size: 1.8rem;

    @media screen and (max-width: 767px) {
      border: none;
      padding: 2% 0;
      box-shadow: none;
    }

    p {
      margin: 0;
    }
  }

  &__links {
    justify-self: self-end;

    display: flex;
    align-items: center;
    position: relative;
    font-size: 2.5rem;
  }

  &__icon {
    color: var(--darkGrey);
    margin-left: 2rem;
    cursor: pointer;
    transition: all ease-in 0.3s;

    &:hover {
      color: var(--secondaryColor);
    }
  }
}

.casatoro-project,
.traveler-project,
.flavoroso-project {
  .project__img-wrapper {
    grid-column: 6 / -1;

    @media screen and (max-width: 767px) {
      grid-column: 1;
    }
  }

  .project__info {
    position: absolute;
    grid-column: 1 / 7;

    h5,
    h4,
    ul {
      justify-self: self-start;
    }

    h4 {
      font-size: 2.8;
    }

    ul {
      li {
        margin: 0 0.6rem;
      }
    }
  }

  .project__links {
    justify-self: self-start;
  }

  .project__icon {
    margin: 0;
    margin-right: 2rem;
  }
}
