.work {
  grid-column: center-start/ center-end;

  padding: 15rem 0;
  display: grid;
  grid-row-gap: 10rem;

  &__title {
    display: flex;
    margin-bottom: -8rem;

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: rgb(45, 57, 82);
      position: relative;
      top: 2rem;
      margin-left: 20px;
    }
  }
}

.project {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;

  &__img-wrapper {
    grid-column: 1 / span 7;
  }

  &__img {
    grid-column: 1 / span 7;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    display: block;
    opacity: .7;

    border: .1rem solid var(--mainGrey);
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) .4s;

    &:hover {
      opacity: 1;
    }
  }

  &__info {
    position: absolute;
    grid-column: 7 / -1;
    z-index: 2;
    display: grid;
    grid-template-rows: 4rem 6rem 15rem 5rem 6rem;

    h5 {
      justify-self: self-end;
      color: var(--primaryColor);
      font-family: 'Space Mono', monospace;
      font-size: 1.3rem;
    }

    h4 {
      justify-self: self-end;

      font-size: 2.8;
    }

    ul {
      position: relative;
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      padding: 0px;
      margin: 25px 0px 10px;
      list-style: none;
      justify-self: self-end;

      li {
        font-size: 1.4rem;
        color: rgb(136, 146, 176);
        margin-left: 2rem;
        margin-bottom: 7px;
      }
    }
  }

  &__content {
    display: grid;

    grid-template-rows: repeat(5, 1fr);
  }

  &__about {
    width: 100%;
    height: auto;
    border: .2rem solid var(--mainGrey);
    background-color: #fff;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    padding: 25px;
    border-radius: 3px;
    font-size: 1.8rem;
  }

  &__links {
    justify-self: self-end;

    display: flex;
    align-items: center;
    position: relative;
    margin-top: .5rem;
    font-size: 3rem;
  }

  &__icon {
    color: var(--darkGrey);
    margin-left: 2rem;
    cursor: pointer;
    transition: all ease-in .3s;

    &:hover {
      color: var(--primaryColor);
    }
  }
}

.traveler-project {
  .project__img-wrapper {
    grid-column: 6 / -1 !important;
  }

  .project__info {
    position: absolute;
    grid-column: 1 / 7 !important;
  }

  .project__info {
    position: absolute;
    grid-column: 1 / 7 !important;

    h5,
    h4,
    ul {
      justify-self: self-start;
      justify-self: self-start;
    }

    h4 {
      font-size: 2.8;
    }

    ul {
      li {
        margin: 0;
        margin-right: 2rem;
      }
    }
  }

  .project__links {
    justify-self: self-start;
  }

  .project__icon {
    margin: 0;
    margin-right: 2rem;
  }
}